@(flavors: Seq[Flavor], flavorForm: Form[Flavor])(implicit messages: Messages)

@views.html.Application.main("Coffee") {

    <h2>Flavors</h2>

    <ul>
        @for(flavor <- flavors) {
            <li><a href="@routes.FlavorsController.show(flavor.id.get)">@flavor.name</a></li>
        }
    </ul>

    <h3>Create new flavor</h3>
    @helper.form(action = routes.FlavorsController.create()) {
        <fieldset>
            @helper.inputText(flavorForm("name"))
        </fieldset>
        <input type="submit" value="Create" />
    }
}
