@(flavor: Flavor, roasting: Roasting, ratingOption: Option[Rating])
@views.html.Application.main("Coffee") {

    <h2>@flavor.name</h2>

    <ul>
        <li>Roast time: @roasting.formatDuration</li>
        <li>Rating: @{ratingOption match {
            case None => "None yet"
            case Some(rating) => rating.nStars + " stars"
        }}</li>
    </ul>

    <p>
        @{roasting.comment match {
            case None =>
                "No roasting comment"
            case Some(x) =>
                "Roasting comment: " + x
        }}
    </p>

    @{ratingOption match {
        case None =>
        case Some(rating) => {
            <p>
                @{rating.comment match {
                    case None =>
                        "No rating comment"
                    case Some(x) =>
                        "Rating comment: " + x
                }}
            </p>
        }
    }}

}
